.btn {
  padding: 8px 16px;
  border: 1px solid #ddd;
  background: white;
  color: #555;
  border-radius: 6px;
  cursor: pointer;
}
.btn-x{
    padding: 8px 16px;
  
  background: #4c00ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.active-btn {
  background: #4c00ff;
  color: white;
  border: none;
}